#title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 100;
    
}
body{
    background-color: beige;
    
}
hr{
    opacity: 0.3;
    width: 60%;
}
#play{
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    width: 30vh;
    text-decoration:solid;
    font-weight: 100;
    font-size: large;

}
#html{
    visibility: hidden;
}
#css{
    visibility: hidden;
}
#question{
    text-align: center;
}

#answers-box button{
    height: 20px;
}
#questions-answers{
    display: none;
}
#answers-box{
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.ch3-4{
    display: block;
    flex-wrap: wrap;

}

#feedback{
    display: none;
    color: green;
    border-color: green;
    border-style:dashed;
    border-width: .1vh;
    margin-left: 40px;
    
}
#submit{
    display: none;
}
#messageFB{
    display: none;
    text-align: center;
}
.answer.selected{
background-color: grey;
color:rgba(57, 30, 12, 0.992);
}
