#title{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 100;
    
}
body{
    background-color: beige;
    
}
hr{
    opacity: 0.3;
    width: 60%;
}
#play{
    display: block;
    margin: 20px auto;
    padding: 5px 20px;
    width: 30vh;
    text-decoration:solid;
    font-weight: 100;
    font-size: large;

}
#html{
    visibility: hidden;
}
#css{
    visibility: hidden;
}
#question{
    text-align: center;
}

#answers-box button{
    height: 20px;
}
#answers-box{
    height: 100vh;
    margin: 0;
    padding: 5px 100px;
    display: flex;
    justify-content: center;
    gap: 5px
}
.ch3-4{
    display: block;
    flex-wrap: wrap;
    
}